@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
}

#map {
  height: 100%;
}

/* .gradient {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(22, 134, 61, 0.66);
  filter: blur(175px);
  transform: rotate(-114.2deg);
} */